/* ultiliza a pagina inteira  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body{
    display: table;
    width: 100%;
    text-align: center;
    color: white;
    background: url(../../GIF/gif_index.gif) no-repeat bottom center scroll;
    background-position: 100% 35%;
    -webkit-background-size: cover;

}

.title{
    display: flex;
    justify-content: center;

    img{
        margin-top: 30px;
        width: 400px;
    }
}

.subtitle{
    p{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 25px;
    }
}

.menu{

    display: flex;
    justify-content: center;
    margin-top: 20px;

    ul li{
        list-style: none;
        padding: 5px 0px;
    }

    ul li a{
        text-decoration: none;
        color: white;
    }

    ul li a:hover{
        background-color: blue;
        display: block;
        transition: all .3s;
        border-radius: 10px;
        padding: 10px;
    }

}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;

    .footer_modal {
        text-align: right;
        padding: 15px 0px;
        background-color: rgb(124, 123, 123);
    }
    
    .footer-btn-close {
        width: 150px;
        padding: 10px;
        text-decoration: none;
        background-color: #cfcca8;
        border-radius: 3px;
        color: black;
    }

    .content {
        border-radius: 4px;
        position: relative;
        width: 500px;
        max-width: 90%;
        background: rgb(124, 123, 123);
        padding: 1em 2em;

        .contact{
            ul li{
                list-style: none;
                margin-top: 15px;
            }

            ul li i{
                padding-right: 10px;
            }

            ul li a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.footer{
    color: white;
    margin-top: 100px;

    ul{
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style: none;
        justify-content: center;
    }

    .rede_social{
        ul li a i{
            color: white;
        }
    }

    .info{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .copy{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}