@import url('../themes/body.css');

body{
    display: table;
    width: 100%;
    text-align: center;
    color: white;
    background: url(../../img/GIF/gif_index.gif) no-repeat bottom center scroll;
    background-position: 100% 55%;
    -webkit-background-size: cover;
}

.title_login{
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;

    .login{
        list-style:none;
        border:1px solid #c0c0c0;
        float:left;
    }

    .login li{
        position: relative;
        border-right: 1px solid #c0c0c0;
    }
    
    .login li a{
        color: white;
        text-decoration:none;
        padding:5px 10px;
        display:block;
    }

    .login li a:hover{
        background:#333;
        color:white;
        -moz-box-shadow:0 3px 10px 0 #7a7979;
        -webkit-box-shadow:0 3px 10px 0 #7a7979;
        text-shadow:0px 0px 5px #7a7979;
    }

    ul li ul li button{
        width:140px;
        color: white;
        background: none;
        border: none;
    }

    ul li ul li button:hover{
        background:#333;
        color:white;
        -moz-box-shadow:0 3px 10px 0 #7a7979;
        -webkit-box-shadow:0 3px 10px 0 #7a7979;
        text-shadow:0px 0px 5px #7a7979;
    }

    .login li ul{
        position:absolute;
        top:25px;
        left:0;
        background-color:black;
        display:none;
    }

    .login li:hover ul, .login li.over ul{
        display:block;
    }

    .login li ul li{
        border:1px solid #c0c0c0;
        display:block;
        width:150px;
    }
}

.title_login_register{
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;

    a{
        color: white;
        text-decoration:none;
        padding:5px 10px;
        display:block;
    }

    a:hover{
        background:#333;
        color:white;
        -moz-box-shadow:0 3px 10px 0 #7a7979;
        -webkit-box-shadow:0 3px 10px 0 #7a7979;
        text-shadow:0px 0px 5px #7a7979;
    }
}

.title{
    display: flex;
    justify-content: center;

    .title_img{
        img{
            width: 400px;
        }
    }
}

.filter_bar{
    
    background-color: black;
    padding: 30px;

    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 100px;
    }

    ul li{
        padding: 15px;
    }

    ul li:hover{
        background-color: blue;
        transition: all .3s;
        border-radius: 10px;
    }

    ul li a{
        color: white;
        text-decoration: none;
    }
}

.stock_part{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .stock_content{
        width: 25%;

        .img_shop{
        
            img{
                margin-top: 10px;
                width: 400px;
                height: 300px;
            }
        }

        .txt_shop{
            display: flex;
            justify-content: center;
        }

    }
}

.footer{
    color: white;
    margin-top: 100px;

    ul{
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style: none;
        justify-content: center;
    }

    .rede_social{
        ul li a i{
            color: white;
        }
    }

    .info{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .copy{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}