/* ultiliza a pagina inteira  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.titulo{
    display: flex;
    justify-content: center;

    img{
        margin-top: 30px;
        width: 400px;
    }
}

.filter_bar{
    
    background-color: black;
    padding: 30px;

    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 100px;
    }

    ul li:hover{
        background-color: blue;
        transition: all .3s;
        border-radius: 10px;
        padding: 15px;
    }

    ul li a{
        color: white;
        text-decoration: none;
    }

    .menu{
    
        li  ul{
            background-color:blue;
            display:none;
        }

        li:hover ul, .menu li.over ul{
            display:block;
        }

        li ul li{
            margin-top: 5px;
        }

    }
}

.border_up{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;

    .img_shop{

        display: flex;
        flex-direction: row;
        justify-content: center;

        img{
            margin-top: 30px;
            width: 500px;
            height: 650px;
        }

        .border_img{
            width: 100%;
            max-width: 1000px;
            border: 1px solid black;
            padding: 10px;
            margin-top: 20px;
        }
    }
}

.border_down{
    width: 100%;
    display: flex;
    justify-content: center;

    .txt_shop{

        display: flex;
        flex-direction: row;

        p{
            text-align: center;
        }

        #roupa1{
            display: flex;
            justify-content: center;
            width: 500px;
        }
        #roupa2{
            display: flex;
            justify-content: center;
            width: 500px;
        }
        #roupa3{
            display: flex;
            justify-content: center;
            width: 500px;
        }
        #roupa4{
            display: flex;
            justify-content: center;
            width: 500px;
        }
        
        .border_txt{
            width: 100%;
            max-width: 1000px;
            border: 1px solid black;
            padding: 10px;
            margin-top: 20px;
        }
    }
}

.back_top{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
    
    h3 a{
        text-decoration: none;
        color: black;
    }

    h3 a:hover{
        background-color: rgb(178, 178, 241);
        transition: all .3s;
        border-radius: 10px;
        padding: 15px;
    }
}

.footer{
    color: black;
    margin-top: 100px;

    ul{
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style: none;
        justify-content: center;
    }

    .rede_social{
        ul li a i{
            color: black;
        }
    }

    .info{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .copy{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}