/* ultiliza a pagina inteira  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.titulo{
    display: flex;
    justify-content: center;

    img{
        width: 400px;
    }
}

.title_login{
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;

    .login{
        list-style:none;
        border:1px solid #c0c0c0;
        float:left;

        .li_contents{
            
            li a{
                color: white;
                text-decoration: none;
            }

            li button{
                width:140px;
                color: white;
                background: none;
                border: none;
            }
        
            li button:hover{
                background:#333;
                color:white;
                -moz-box-shadow:0 3px 10px 0 #7a7979;
                -webkit-box-shadow:0 3px 10px 0 #7a7979;
                text-shadow:0px 0px 5px #7a7979;
            }
        }
    }

    .login li{
        position: relative;
        border-right: 1px solid #c0c0c0;
    }
    
    .login li a{
        color: black;
        text-decoration:none;
        padding:5px 10px;
        display:block;
    }

    .login li a:hover{
        background:#333;
        color:white;
        -moz-box-shadow:0 3px 10px 0 #7a7979;
        -webkit-box-shadow:0 3px 10px 0 #7a7979;
        text-shadow:0px 0px 5px #7a7979;
    }

    .login li ul{
        position:absolute;
        top:25px;
        left:0;
        background-color:black;
        display:none;
    }

    .login li:hover ul, .login li.over ul{
        display:block;
    }

    .login li ul li{
        border:1px solid #c0c0c0;
        display:block;
        width:150px;
    }
}

.title_login_register{
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;

    a{
        color: black;
        text-decoration:none;
        padding:5px 10px;
        display:block;
    }

    a:hover{
        background:#333;
        color:white;
        -moz-box-shadow:0 3px 10px 0 #7a7979;
        -webkit-box-shadow:0 3px 10px 0 #7a7979;
        text-shadow:0px 0px 5px #7a7979;
    }
}

.filter_bar{
    
    background-color: black;
    padding: 30px;

    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 100px;
    }

    ul li{
        padding: 15px;
    }

    ul li:hover{
        background-color: blue;
        transition: all .3s;
        border-radius: 10px;
    }

    ul li a{
        color: white;
        text-decoration: none;
    }
}

.img_shop{

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

    img{
        width: 604px;
        height: 690px;
    }

    .border_img{
        width: 25%;
        max-width: 1000px;
        border: 1px solid black;
        padding: 10px;

        .tshirt_info{
            display: flex;
            justify-content: center;

            .tshirt_contents{
                .tshirt_img{
                    display: flex;
                    justify-content: center;
                }
                .tshirt_value{
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

.back_top{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
    
    h3 a{
        text-decoration: none;
        color: black;
    }

    h3 a:hover{
        background-color: rgb(178, 178, 241);
        transition: all .3s;
        border-radius: 10px;
        padding: 15px;
    }
}

.footer{
    color: black;
    margin-top: 100px;

    ul{
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style: none;
        justify-content: center;
    }

    .rede_social{
        ul li a i{
            color: black;
        }
    }

    .info{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .copy{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .footer_politics{
        ul li a{
            text-decoration: none;
            color: black;
            font-size: 13px;
        }
    }

    .footer_end{
        ul li{
            color: rgb(134, 134, 134);
            font-size: 10px;
        }
    }
}