*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.nav_menu{
    padding-left: 600px;

    img{
        margin-top: 50px;
        width: 200px;
        height: 40px;
    }
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;

    .footer_modal {
        text-align: right;
        padding: 15px 0px;
        background-color: white;
    }
    
    .footer-btn-close {
        width: 150px;
        padding: 10px;
        text-decoration: none;
        background-color: #cfcca8;
        border-radius: 3px;
        color: black;
    }

    .content {
        border-radius: 4px;
        position: relative;
        width: 500px;
        max-width: 90%;
        background: white;
        padding: 1em 2em;
    }

    .form_payment_card{
        .credito{
            padding: 10px 0px;
        }
        .debito{
            padding: 10px 0px;
        }
    }
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.info_payment{
    padding-left: 600px;
    
    label{
        font-size: 12px;
        color: rgb(156, 155, 155);
    }
}

.payment_title{

    h2{
        color: rgb(190, 190, 190);
        margin-top: 35px;
        padding-left: 630px;
    }
}

.border{
    display: flex;
    justify-content: center;
    
    hr{
        width: 1300px;
        height: 3px;
        margin-top: 5px;
        background-color: rgb(190, 190, 190);
    }

    #border_down{
        width: 1300px;
        height: 1px;
        margin-top: 5px;
        background-color: rgb(190, 190, 190);
    }

    #border_continue{
        width: 1300px;
        height: 1px;
        margin-top: 20px;
        background-color: rgb(190, 190, 190);
    }
}

.cpf_payment{
    display: flex;
    flex-direction: column;
    padding: 10px 630px;
    
    label{
        font-size: 15px;
    }
    input{
        border: 3px solid #918e8e;
        margin-top: 10px;
        border-radius: 6px;
        width: 400px;
        height: 35px;
    }
}

.delivery_address{
    display: flex;
    justify-content: center;
    gap: 300px;

    h2{
        color: rgb(190, 190, 190);
        margin-top: 20px;
    }

    .address_input{
        
        .address_info{
            input{
                border: 3px solid #918e8e;
                margin-top: 10px;
                border-radius: 6px;
                width: 400px;
                height: 35px;
            }
            .address_info_united{
                display: flex;
                gap: 10px;

                #number_card{
                    width: 300px;
                }
                #cvv{
                    width: 90px;
                }
            }
            label{
                font-size: 15px;
            }
            #validade{
                width: 262px;
            }
        }

        .address_name{
            input{
                border: 3px solid #918e8e;
                margin-top: 10px;
                border-radius: 6px;
                width: 198px;
                height: 35px;
            }
        }
        
    }
    
    .payment_summary{
    
        .information_summary_img{
            display: flex;
            gap: 30px;
        }

        .form_payment{
            padding: 10px 0px;
            color: black;
        }

        .parcelas{
            padding: 10px 0px;
            display: flex;
            flex-direction: column;

            label{
                font-size: 15px;
            }
            select{
                border: 2px solid #918e8e;
                border-radius: 5px;
                width: 300px;
            }
        }

        .input_save{
            font-size: 12px;
            padding: 10px 0px;
        }

    }
}


.continue{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    padding-right: 700px;

    a{
        text-decoration: none;
        color: black;
        border: none;
        background-color: rgb(252, 69, 69);
        padding: 20px 100px;
        font-size: 17px;
        border-radius: 15px;
        box-shadow: 2px 2px 2px black;
    }
}

.footer{
    color: black;
    margin-top: 100px;

    ul{
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style: none;
        justify-content: center;
    }

    .rede_social{
        ul li a i{
            color: black;
        }
    }

    .info{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .copy{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .footer_politics{
        ul li a{
            text-decoration: none;
            color: black;
            font-size: 13px;
        }
    }

    .footer_end{
        ul li{
            color: rgb(134, 134, 134);
            font-size: 10px;
        }
    }
}